//<Подключаем шрифты>
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Akzidenz Grotesk BQ";
    src: url('/static/fonts/AkzidenzGroteskBQ-BdCnd.eot');
    src: url('/static/fonts/AkzidenzGroteskBQ-BdCnd.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/AkzidenzGroteskBQ-BdCnd.woff') format('woff'),
        url('/static/fonts/AkzidenzGroteskBQ-BdCnd.ttf') format('truetype'),
        url('/static/fonts/AkzidenzGroteskBQ-BdCnd.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
//<Подключаем шрифты>

//<Шрифт по умолчанию>
$fontfamily: "PT Sans";
//<Шрифт по умолчанию>

//<Переменные>
$minwidth:320px;
$mw:880px;
$md1:$mw+12px;
$md2:750px;
$md3:767.98px;
$md4:479.98px;

$fontfamily1: "Bebas Neue";
$fontfamily2: "Akzidenz Grotesk BQ";

$color1:#ffffff;
$color2:#d5d6d2;
$color3:#3a5199;
$color4:#2f2e33;
//<Переменные>

//<Обнуление>
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body{height: 100%;margin: 0;padding: 0;min-width: none;position: relative;width: 100%;color: #000;
}
body{font-size: 100%;font-family: $fontfamily; ;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
//<Обнуление>

//<Основная сетка>
.container{max-width:$mw;margin:0 auto;width:100%;
    @media (max-width:$md1){max-width: 750px;}
    @media (max-width:$md2){max-width: none;padding: 0 10px;}
}
//<Основная сетка>

//<Подключение файлов стилей страниц и элементов>
@import "header.scss";
@import "footer.scss";
//<Подключение файлов стилей страниц и элементов>

//<Основной код>=========================================================================================

body{
    padding: 30px 0 0 0;
    background-color: $color1;
}

.content{
    margin: 30px 0;
}

.geninf{
    display: flex;
    max-width: 1240px;
    margin: 0 auto;

    &-img{
        flex: 1 1 auto;
        width: 800px;
        border: 2px solid #000;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &-text{
        color: $color1;
        text-align: center;
        width: 100%;
        padding: 20px;
        background: #000;
    }
    &-title{
        font-size: 50px;
        text-transform: uppercase;
        font-family: $fontfamily2;
        margin:0 0 10px 0;
    }
    &-price{
        font-size: 60px;
        font-family: $fontfamily2;
        margin:0 0 40px 0;
        text-shadow: -3px 3px 0px #C29DFA,
                     -6px 6px 0px #934FFA,
                     -9px 9px 0px #6600FF;
    }
    &-inf{
        font-family: $fontfamily;
        margin: 0 30px 10px 30px;
    }
    &-btn{
        position: relative;
        display: block;
        padding: 25px 30px;
        margin: 40px 0;
        color: #934FFA;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
        margin-right: 50px;

        &:hover{
            background: #934FFA;
            color: #050801;
            box-shadow: 0 0 5px #934FFA, 0 0 25px #934FFA, 0 0 50px #934FFA, 0 0 20px #934FFA;
            -webkit-box-reflect: below 1px list-gradient(transparent, #0005);
        }
        &:nth-child(1){
            filter: hue-rotate(270deg);
        }
        &:nth-child(2){
            filter: hue-rotate(110deg);
        }
        & span{
            position: absolute;
            display: block;
            &:nth-child(1){
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent,#934FFA);
                animation: animate1 1s linear infinite;
            }
            &:nth-child(2){
                top: -100%;
                right: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(180deg, transparent,#934FFA);
                animation: animate2 1s linear infinite;
                animation-delay: 0.125s;
            }
            &:nth-child(3){
                bottom: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background: linear-gradient(270deg, transparent,#934FFA);
                animation: animate3 1s linear infinite;
                animation-delay: 0.5s;
            }
            &:nth-child(4){
                bottom: -100%;
                left: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(360deg, transparent,#934FFA);
                animation: animate4 1s linear infinite;
                animation-delay: 0.75s;
            }
        }
    }
    @keyframes animate1 {
        0%{
            left: -100%;
        }
        50%, 100%{
            left: 100%;
        }
    }
    @keyframes animate2 {
        0%{
            top: -100%;
        }
        50%, 100%{
            top: 100%;
        }
    }
    @keyframes animate3 {
        0%{
            right: -100%;
        }
        50%, 100%{
            right: 100%;
        }
    }
    @keyframes animate4 {
        0%{
            bottom: -100%;
        }
        50%, 100%{
            bottom: 100%;
        }
    }
}
