<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create products</title>
</head>
<body>
    <form method="POST">
        <input class="form-control" placeholder="Введите имя товара" type="text" name="title" id="title">
        <input class="form-control" placeholder="Введите категорию товара" type="text" name="category" id="category">
        <input class="form-control" placeholder="Введите ссылку на картинку товара" type="text" name="img" id="img">
        <input class="form-control" placeholder="Введите цену товара" type="number" name="price" id="price">
        <input class="form-control" placeholder="Введите популярность товара" type="number" name="popularity" id="popularity">
        <button class="btn btn-success" type="submit">Добавить товар</button>
    </form>
</body>
</html>