<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/delivery.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-column">
            <div class="header-menu">
                <div class="header-menu__item">
                    <a href="{{ url_for('delivery') }}">Delivery</a>
                </div>
                <div class="header-menu__item">
                    <a href="{{ url_for('catalog') }}">Catalog</a>
                </div>
            </div>
        </div>
        <div class="header-column">
            <div class="header-logo">
                <a href="../">
                    MEBEL
                </a>
                <img src="/static/img/crown.png" alt="">
            </div>
        </div>
        <div class="header-column">
            <div class="header-menu">
                <div class="header-menu__item">
                    <a href="{{ url_for('cart') }}">Cart</a>
                </div>
                <div class="header-menu__item">
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="header__frame"></div>
</div>
    <div class="delivery">
        <div class="delivery__title">delivery</div>
        <img class="fly_img" src="/static/img/fly.png" alt="">
        <div class="delivery-block">
            <div class="delivery-block__title">We will quickly deliver any of your orders to anywhere in the world</div>
            <ul class="delivery-block-advantage">
                <li><img src="/static/img/icon/delivery_1.png" alt="">Fast delivery</li>
                <li><img src="/static/img/icon/delivery_2.png" alt="">Delivery all year round worldwide</li>
                <li><img src="/static/img/icon/delivery_3.png" alt="">Return of goods in the first month</li>
            </ul>
            <a onclick="(document.getElementById('map').style.display='block')" class="delivery-block__btn">Select a pick-up point</a>
        </div>
        <div class="delivery__points">1 486</div>
        <div class="delivery__pick-up">points of delivery</div>
        <div style="display:none;" class="delivery__map" id="map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/dalnevostochny_federalny_universitet/1047571026/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Дальневосточный федеральный университет</a><a href="https://yandex.ru/maps/11409/primorsky-krai/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Приморском крае</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUN48hxLA" width="100%" height="600" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
    
<div class="wrapper">
    <div class="footer">
        <ul class="footer-contacts">
            <li class="footer-contacts__item footer-contacts__item_title">OOO MEBEL</li>
            <li class="footer-contacts__item">Contact us:</li>
            <li class="footer-contacts__item">mebelius@gmail.com</li>
            <li class="footer-contacts__item">+7 (999) 999-99-99</li>
            <li class="footer-contacts__item footer-contacts__item_link"><a href="">Сообщить о нарушении</a></li>
        </ul>
    </div>
</div></body>
</body>
</html>