<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-column">
            <div class="header-menu">
                <div class="header-menu__item">
                    <a href="{{ url_for('delivery') }}">Delivery</a>
                </div>
                <div class="header-menu__item">
                    <a href="{{ url_for('catalog') }}">Catalog</a>
                </div>
            </div>
        </div>
        <div class="header-column">
            <div class="header-logo">
                <a href="../">
                    MEBEL
                </a>
                <img src="/static/img/crown.png" alt="">
            </div>
        </div>
        <div class="header-column">
            <div class="header-menu">
                <div class="header-menu__item">
                    <a href="{{ url_for('cart') }}">Cart</a>
                </div>
                <div class="header-menu__item">
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="header__frame"></div>
</div>
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
<div class="wrapper">
    <div class="footer">
        <ul class="footer-contacts">
            <li class="footer-contacts__item footer-contacts__item_title">OOO MEBEL</li>
            <li class="footer-contacts__item">Contact us:</li>
            <li class="footer-contacts__item">mebelius@gmail.com</li>
            <li class="footer-contacts__item">+7 (999) 999-99-99</li>
            <li class="footer-contacts__item footer-contacts__item_link"><a href="">Сообщить о нарушении</a></li>
        </ul>
    </div>
</div></body>
</body>
</html>